.app-container {
  padding: 20px;
  max-width: 100%;
  margin: 0 auto;
  font-family: Arial, sans-serif;
}

.header {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
  width: 100%;
  gap: 10px;
}

.reset-button {
  background-color: #f44336;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}
.level-container{
  display: flex;
  gap:10px;
  width: 100%;
}
.level {
  margin-bottom: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  width: 100%;
}


.level-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.right-menu {
  display: flex;
  align-items: center;
  gap: 10px;
}


.delete-button-container{
  display: flex;
  align-items: center;
}
.delete-button {
  background-color: #f44336;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: large;
}

.table {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
}

.cell {
  flex: 1 0 21%; /* Adjust the value as needed to fit the layout */
  border: 1px solid #ccc;
  padding: 10px;
  margin: 5px;
  text-align: center;
  background-color: #fff;
}

.buttons-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  max-width: 950px;
}

.button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 20px;
}
.button-disabled {
  background-color: grey;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: not-allowed;
}

.right-buttons .button:nth-child(1){
  background-color: black;
}
.right-buttons .button:nth-child(2){
  background-color: white;
  color: black;
  border: 2px solid black;
}

.right-buttons{
  display: flex;
  gap: 10px;
}

.button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

/* Custom styles for multiselect */
.chip, .singleChip {
  display: none;
}

/* model open column button */
.open-column-button {
background-color: #4CAF50;
color: white;
border: none;
padding: 10px 20px;
cursor: pointer;
border-radius: 5px;
}